.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333533;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

label {
  padding: 1em;
  margin: 1em;
  color: #cfdbd5;
}

input {
  padding: 1em;
  margin: 1em;
}

button {
  padding: 1em;
  margin: 1em;
}

table {
  width: 75%;
}

td {
  padding: 8px;
}

label {
  font-weight: bold;
}

button {
  margin-right: 10px;
}
