.add {
  /* background-color: #cfdbd5;
  color: #333533;
  width: 90vw;
  height: 70vh;
  margin: 0 auto; */
  /* display: flex; */
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333533;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

label {
  padding: 1em;
  margin: 1em;
  color: #cfdbd5;
}

input {
  padding: 1em;
  margin: 1em;
}

button {
  padding: 1em;
  margin: 1em;
}

table {
  width: 75%;
  /* border-collapse: collapse; */
}

td {
  padding: 8px;
  /* border: 1px solid #ccc; */
}

label {
  font-weight: bold;
}

button {
  margin-right: 10px;
}
