.display {
  background-color: #cfdbd5;
  color: #333533;
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  /* display: flex; */
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333533;
  margin-top: 0;
  padding-top: 0.5em;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #333533;
  color: #f5cb5c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #cfdbd5;
}

th {
  background-color: #242423;
  font-weight: bold;
  color: #cfdbd5;
}

tr:nth-child(even) {
  background-color: #333533;
}

tr:hover {
  background-color: #444744;
}
