.footer {
  background-color: #242423;
  /* width: 90vw;
  height: 10vh;
  margin: 0 auto; */
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
  padding: 20px 0;
}

p {
  font-family: "Trebuchet MS";
  font-weight: 500;
  font-size: 0.8rem;
  color: #f5cb5c;
  margin: 0;
  /* padding-top: 4dvh; */
}
